* {
<<<<<<< HEAD
  border: 0;
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
=======
  border: 0px;
  font-family: "Montserrat";
  margin: 0px;
  padding: 0px;
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
}

/*HTML ELEMENTS*/
body {
  text-align: center;
}

em {
  font-weight: bold;
}

/*CLASSES*/
.colored-section {
  background-color: #ff4c68;
}

.download {
<<<<<<< HEAD
  margin: 10% 2.5% 0 0;
=======
  margin: 10% 2.5% 0% 0%;
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
}

.fa-apple, .fa-google-play {
  padding-right: 5px;
}

.white-section {
  background-color: #ffffff;
}

/* CTA */
#cta {
  padding: 7% 25%;
}

.cta-header {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 900;
  padding: 0 15%;
}

/* FEATURES */
#features {
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.features-img {
  color: #ef8172;
  font-size: 4rem;
  padding-bottom: 12.5px;
}

.features-img:hover {
  color: #ff4c68;
}

.feature-col {
  padding: 4.5%;
}

.features-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.features-description {
  color: #8f8f8f;
}

/* FOOTER */
#footer {
  padding: 7% 15% 4%;
}

#footer p {
  color: #696969;
  font-weight: bold;
}

.footer-img {
  color: #000000;
  font-size: 1.5rem;
  padding: 0 10px 20px;
}

.footer-img:hover {
  color: #020202;
}

/* PRESS */
#press {
<<<<<<< HEAD
  padding: 0 7% 5%;
=======
  padding: 0% 7% 5%;
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
}

.press-img {
  width: 200px;
  padding: 25px 0px;
}

<<<<<<< HEAD
.press-img:hover {
  opacity: 50%;
}

=======
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
/* PRICING */
#pricing {
  padding: 7% 15%;
}

.card-body{
  padding-top: 10px;
}

.card-header {
  border-bottom: none;
<<<<<<< HEAD
  padding-bottom: 0;
=======
  padding-bottom: 0px;
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
}

.card-subtitle {
  font-weight: normal;
}

.card-title {
  font-weight: 600;
}

.pricing-col{
  padding: 2% 3%;
}

.pricing-deck {
  margin: 0 auto;
}

.pricing-text {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
}

/* TESTIMONIALS */
#testimonials {
  color: #ffffff;
}

.carousel-item {
<<<<<<< HEAD
  padding: 5% 0 4%;
=======
  padding: 5% 0% 4%;
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
}

.testimonials-img {
  border-radius: 100%;
  margin-right: 25px;
  width: 12.5%;
}

.testimonials-text {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
<<<<<<< HEAD
  padding: 0 25% 2.5%;
=======
  padding: 0% 25% 2.5%;
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
}

/* TITLE */
#navbarTogglerDemo02 {
  text-align: left;
}

#title {
  padding: 3% 15%;
}

.container-element-title-section {
<<<<<<< HEAD
  margin: auto 0 auto 0;
  text-align: left;
=======
  margin: auto 0px auto 0px;
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
}

.iphone-img {
  position: relative;
<<<<<<< HEAD
  right: 0;
=======
  right: 0%;
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
  transform: rotate(25deg) translate(100px, 12.5%);
  width: 240px;
}

.navbar {
<<<<<<< HEAD
  padding: 0 0 2.5rem 0;
=======
  padding: 0rem 0rem 2.5rem 0rem;
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
<<<<<<< HEAD
  padding: 0 10px 0 10px;
=======
  padding: 0px 10px 0px 10px;
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
}

.nav-link {
  font-size: 1.25rem;
  font-weight: normal;
}

.title-header {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: left;
}

/* MEDIA QUERY */
@media (max-width: 991px){
  .iphone-img {
    padding-top: 5%;
    position: static;
<<<<<<< HEAD
    transform: rotate(0) translate(0, 0);
  }

  .container-element-title-section {
    text-align: center;
=======
    transform: rotate(0deg) translate(0px, 0%);
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
  }

  .cta-header, .testimonials-text, .pricing-text {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .title-container{
    text-align: center;
  }

  .title-header {
    font-size: 2.5rem;
    text-align: center;
  }
}
<<<<<<< HEAD

/* EXTRA FEATURES */
.hover-image {
  transform: rotate(0) translate(0, 0);
}
=======
>>>>>>> 9b1ff8687f661b6dc9226e2aa1b1167fad6bada1
